@model List<Category>
@{
    ViewData["Title"] = "Kategori - Index";
    var message = TempData["Message"] as string;
}
<a asp-action="Add" asp-controller="Category" class="btn btn-success">Yeni Kategori Ekle</a>
<h3>@message</h3>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Kategori Adı</th>
                        <th>Ürün Sayısı</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        var item = Model[i];
                        <tr>
                            <th scope="row">@(i + 1)</th>
                            <td>@item.CategoryName</td>
                            <td>@item.Products.Count</td>
                            <td>
                                <a asp-action="Edit" asp-controller="Category" asp-route-id="@item.Id" class="btn btn-info">
                                    Düzenle
                                </a>
                                <a asp-action="Delete" asp-controller="Category" asp-route-id="@item.Id" class="btn btn-danger">
                                    Sil
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>